.iAloza {
  margin-top: 11px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.iOBGpd {
  padding-right: 7px;
  font-size: 13px;
  color: rgb(68, 73, 80);
}

.iALXKM {
  display: inline-flex;
  position: relative;
  appearance: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  color: inherit;
  background-color: transparent;
}

.ksTSWJ {
  margin: 18px 0px;
  display: flex;
}

.bpgmEB {
  width: 100%;
  display: flex;
}

.hhFvJt {
  margin: 0px;
  width: 30px;
  max-width: none;
  display: block;
  height: 30px;
  border-radius: 100%;
}

.ggLknz {
  padding-left: 5px;
}

.eWitUL {
  padding: 7px 10px 10px 15px;
  background-color: rgb(242, 243, 245);
  border-radius: 20px;
}

.gKpCSo {
  padding-right: 5px;
  font-size: 14px;
  color: rgb(43, 88, 143);
  font-weight: 700;
  line-height: 1.3;
}

.degbuh {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.25;
}

.bEEZHa {
  position: absolute;
  right: 0px;
  bottom: -13px;
}

.iTNacO {
  display: flex;
}

.kkgXjw {
  margin: 0px;
  display: block;
  height: auto;
  max-width: 100%;
}

.blvJQI {
  font-size: 14px;
  color: rgb(137, 137, 137);
  position: absolute;
  top: 5px;
  right: 9px;
}

.jBtIxC {
  margin-top: 9px;
  padding-left: 16px;
  display: flex;
}

.bdxwcP {
  display: inline-flex;
  position: relative;
  appearance: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px 13px 0px 0px;
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  font-size: 14px;
  color: rgb(56, 88, 152);
}

.bdxwcP::after {
  content: ".";
  position: absolute;
  top: -6px;
  right: 4px;
  color: rgb(137, 137, 137);
  font-size: 15px;
}

.jUItPz {
  display: inline-flex;
  position: relative;
  appearance: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px 13px 0px 0px;
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  font-size: 14px;
  color: rgb(56, 88, 152);
}

.jUItPz::after {
  content: ".";
  position: absolute;
  top: -6px;
  right: 4px;
  color: rgb(137, 137, 137);
  font-size: 15px;
}

.jAAtcy {
  padding-right: 9px;
  font-size: 14px;
  color: rgb(171, 171, 171);
}

.fExxFQ {
  font-size: 14px;
  color: rgb(68, 73, 80);
}